<%- include('../partials/header2.ejs')%>

	<h1>Add a New Unit</h1>
	<form method="POST" action="/buildings/unit">
		<fieldset>
			<legend>
				<small>
					New Unit
				</small>
			</legend>
			<label for="number">Unit Number:</label>
			<input type="number" name="number" placeholder="enter unit number">
			<label for="tenants">Select Tenants:</label>
			<select class="js-example-basic-multiple" name="tenants" multiple>
			<% for(let i = 0; i < users.length; i++) { %>
			<%=i%>
			<option value=<%=users[i]._id%>><%=users[i].firstName%> <%=users[i].lastName%></option>
		<% } %>
		</select>
		<label for="buildings">Select Buildings:</label>
			<select name="buildings">
			<% for(let i = 0; i < buildings.length; i++) { %>
			<%=i%>
			<option value=<%=buildings[i]._id%>><%=buildings[i].address%></option>
		<% } %>
		</select>
		<button>Submit!</button>
		</fieldset>
	</form>


<%- include('../partials/footer.ejs')%>