<%- include('../partials/header.ejs')%>

	<h1>Add a New Unit</h1>
	<p class=<%=status%>><%=message%></p>
	<form method="POST" action="/buildings/unit">
		<div class="new-building">

			<legend>
				<small>
					Add Unit & Tenant
				</small>
			</legend>
			<label class="new-building-labels" for="building">Select Building:</label>
			<select name="building">
			<% for(let i = 0; i < buildings.length; i++) { %>
				<%=i%>
				<option value="<%=buildings[i]._id%>"><%=buildings[i].address%></option>
			<% } %>
			</select>
			<label class="new-building-labels" for="number">Unit Number:</label>
			<input type="text" name="number" placeholder="enter unit number">
			<label class="new-building-labels" for="tenants">Select Tenants:</label>
			<select  name="tenants" multiple>
			<% for(let i = 0; i < users.length; i++) { %>
				<%=i%>
				<option value=<%=users[i]._id%>><%=users[i].firstName%> <%=users[i].lastName%></option>
			<% } %>
		</select>
		<button>Submit!</button>

		</div>
	</form>


<%- include('../partials/footer.ejs')%>