<%- include('../partials/header2.ejs')%>

<h1>Community News Feed</h1>



<ul>

	<% posts.forEach((post) => { %>
		<li>
			By: <%=post.user.firstName%><br>
			<strong><%= post.title %></strong>
		</li>
	    <p>
	    	<%= post.content %>
	    </p>
	  	<a href="/posts/<%= post._id %>/edit">(Edit <%=post.title%>)</a>

<% }) %>

</ul>


<%- include('../partials/footer.ejs')%>
