<%- include('../partials/header.ejs')%>

<h1>Community News Feed</h1>

<<<<<<< HEAD

=======
>>>>>>> 52dc35d6c003cb2cb8ec370f8b81fbdb611f35cb

<ul>
	<% posts.forEach((post) => { %>
	<% if (post.content != '') { %>
<p class=<%=status%>><%=message%></p>
	<div class="post">
		<li>
		<div class ="creator"> 	
			<div class="containerTwo">
			<a  href="users/<%=post.user._id%>">
				<img class="userImg" src="<%=post.user.image%>"> <p class="name"><%=post.user.firstName%></p>
			</a><br>
			</div>
		</div>
		</li>
		<div class="content">
			<strong class="title"><%= post.title %></strong>
	    <p>
	    	<%= post.content %>
	    </p>
	   <% if (currentUserId == post.user._id) { %> 
	  	<a href="/posts/<%= post._id %>/edit">(Edit <%=post.title%>)</a>
	  	<form method="POST" action="/posts/<%= post._id %>?_method=DELETE">
        <button>Delete</button>
    	</form>
    	<%}%>

	    <h4>Comments</h4>
	  	<form method="POST" action="/comments/<%= post._id %>">
	    <textarea name="text" placeholder="Enter comment"></textarea>
	    <br />
	    <button class="add">Add comment</button>
	  	</form>

	  	<%post.comments.forEach((comment) =>{ %>
	  	<li class="comment">
	  		<%=comment.text%> (<%=comment.date.toLocaleString()%>) 
	  	</li>
	  	<br>
	  	<%})%>


    	<% } else { %>
    	<strong><%= post.title %></strong>
    	<% } %>
    	</div>
    </div>
<% }) %>

</ul>


<%- include('../partials/footer.ejs')%>
