<%- include('../partials/header2.ejs')%>

<h1>Community News Feed</h1>

<div id="index-container">
<% 
  posts.forEach((post) => { %>
  <div>
    <strong><a href="/posts/<%= post._id %>"><%= post.title %></a>
    </strong> 
    (<a href="/posts/<%= post._id %>/posts"><%= post.content %></a>)
  </div>  
<% }) %>
</div>

<%- include('../partials/footer.ejs')%>
