<%- include('../partials/header.ejs')%>

<h1>Community News Feed</h1>

<p class=<%=status%>><%=message%></p>

<ul>
	<% posts.forEach((post) => { %>
	<% if (post.content != '') { %>
	<div class="post">
		<li>
		<div class ="creator">
			By: 
			<a  href="users/<%=post.user._id%>">
				<%=post.user.firstName%>
			</a><br>
		</div>
		</li>
		<div class="content">
			<strong class="title"><%= post.title %></strong>
	    <p>
	    	<%= post.content %>
	    </p>
	   <% if (currentUserId == post.user._id) { %> 
	  	<a href="/posts/<%= post._id %>/edit">(Edit <%=post.title%>)</a>
	  	<form method="POST" action="/posts/<%= post._id %>?_method=DELETE">
        <button>Delete</button>
    	</form>
    	<%}%>
    	<% } else { %>
    	<strong><%= post.title %></strong>
    	<% } %>
    	</div>
    </div>
<% }) %>

</ul>


<%- include('../partials/footer.ejs')%>
